.App {
  text-align: center;
}

.App-header {
  background-color: #484a4d;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px 100px 10px 10px;

}

.App-link {
  font-size: 15px;
  color: #0ac5f9;
}

.logo {
  height: 50px;
  border: 4px solid white;
}

/* Flex container for bio and projects */
#maincontainer {
  display: flex;
  flex-direction: row;
}

/* Flex container for project cards */
#projectcontainer {

}
